In [1]:
import cassandra

In [2]:
# Setup a connection to Cassandra cluster
from cassandra.cluster import Cluster
cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
session = cluster.connect()

In [3]:
# Create a keyspace (table schema)
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

In [4]:
 # Connect to keypace
session.set_keyspace('udacity')

In [5]:
# 1st Query
# Give every album in the music_library that was released in a given year
create_stmt = '''
    CREATE TABLE IF NOT EXISTS music_library
    (year int, artist_name text, album_name text, PRIMARY KEY (year, album_name));
'''
session.execute(create_stmt)

In [6]:
# Insert some values
insert_stmt = '''
    INSERT INTO music_library (year, artist_name, album_name)
    VALUES (%s, %s, %s)
'''
session.execute(insert_stmt, (1970, "The Beatles", "Let it Be"))
session.execute(insert_stmt, (1965, "The Beatles", "Rubber Soul"))
session.execute(insert_stmt, (1965, "The Who", "My Generation"))
session.execute(insert_stmt, (1966, "The Monkees", "The Monkees"))
session.execute(insert_stmt, (1970, "The Carpenters", "Close To You"))

In [7]:
# 2nd Query
# Give every album in the music library that was created by a given artist
create_stmt = '''
    CREATE TABLE IF NOT EXISTS artist_library
    (artist_name text, year int, album_name text, PRIMARY KEY (artist_name, album_name));
'''
session.execute(create_stmt)

In [8]:
# Insert some values
insert_stmt = '''
    INSERT INTO artist_library (artist_name, year, album_name)
    VALUES (%s, %s, %s)
'''
session.execute(insert_stmt, ("The Beatles", 1970, "Let it Be"))
session.execute(insert_stmt, ("The Beatles", 1965, "Rubber Soul"))
session.execute(insert_stmt, ("The Who", 1965, "My Generation"))
session.execute(insert_stmt, ("The Monkees", 1966, "The Monkees"))
session.execute(insert_stmt, ("The Carpenters", 1970, "Close To You"))

In [9]:
# 3rd Query
# Give all the information from the music library about a given album
create_stmt = '''
    CREATE TABLE IF NOT EXISTS album_library
    (album_name text, artist_name text, year int, PRIMARY KEY (album_name, artist_name));
'''
session.execute(create_stmt)

In [10]:
# Insert some values
insert_stmt = '''
    INSERT INTO album_library (album_name, artist_name, year)
    VALUES (%s, %s, %s)
'''
session.execute(insert_stmt, ("Let it Be", "The Beatles", 1970))
session.execute(insert_stmt, ("Rubber Soul", "The Beatles", 1965))
session.execute(insert_stmt, ("My Generation", "The Who", 1965))
session.execute(insert_stmt, ("The Monkees", "The Monkees", 1966))
session.execute(insert_stmt, ("Close To You", "The Carpenters", 1970))

In [11]:
# Validate
# music_library
query = "select * from music_library where year = 1970";
result = session.execute(query)
for row in result:
    print(row.year, row.artist_name, row.album_name)

1970 The Carpenters Close To You
1970 The Beatles Let it Be

In [14]:
# Validate
# artist_library
query = "select * from artist_library where artist_name = 'The Beatles'";
result = session.execute(query)
for row in result:
    print(row.artist_name, row.album_name, row.year)

The Beatles Let it Be 1970
The Beatles Rubber Soul 1965

In [17]:
# Validate
# album_library
query = "select * from album_library where album_name = 'Close To You'";
result = session.execute(query)
for row in result:
    print(row.album_name, row.artist_name, row.year)

Close To You The Carpenters 1970

In [18]:
# Drop tables and close connection
session.execute('drop table music_library')
session.execute('drop table album_library')
session.execute('drop table artist_library')
session.shutdown()